:root {
    --accent-color: #38686A;
    --background-color: #CFDCCD;

    --foreground-color: #F0EDE6;

    --hover-color: #E8E4D973;
    --hover-background: #CFDCCD43;
    --hover-text: #673C4F;
}


.flex-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    background-color: var(--foreground-color);
    position: relative;
    top: 3%;
    left: 10%;
    right: 10%;
    width: 80%;

    min-width: 600px;
    border-radius: 5px;

}

.flex-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    background-color: var(--foreground-color);
    position: relative;
    top: 3%;
    left: 10%;
    right: 10%;
    width: 80%;

    min-width: 900px;
    border-radius: 5px;

}


.topnav {
    overflow: hidden;
    background-color: transparent;
    padding-bottom: 0px;
    width: 90%;
    left: 10%;
    padding-left: 10%;
    position: static;

}

.topnav a {
    float: left;
    color: var(--accent-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
    border-radius: 5px;


}
.topnav a:active {
    background-color: var(--hover-color);
    color: var(--accent-color);
}

.pic1 {
    height: 70%;
    margin: 10px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.figs {
    height: 70%;
    margin: 10px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;


}
.text1 {

    width: 70%;
    height: 70%;
    margin-left: 3%;
    margin-right: 5%;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
    font-size: 16pt;
    max-width: fit-content;
    line-height: 120%;
    text-align: justify;
    bottom: 0;
}

.text2 {
    width: 95%;
    height: 70%;
    margin-left: 3%;
    margin-right: 5%;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
    font-size: 16pt;
    max-width: fit-content;
    line-height: 120%;

    display: flex;
    flex-direction: row;

    text-align: justify;
    text-justify: inter-word;
    align-items: first baseline;
}

.textbox{
    width: 70%;
    height: 70%;
    margin-left: 3%;
    margin-right: 1%;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
    font-size: 16pt;
    max-width: fit-content;
    line-height: 120%;
    align-self:stretch;
    text-align: left;
    text-justify: inter-word;


}


h1 {
    color: var(--accent-color);
}

h2 {
    color: var(--accent-color);
}

h3 {
    color: var(--accent-color);
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    font-size: x-large;

    a:hover {
        color:var(--hover-text);
    }

    li {
        display: inline-block;
        padding: 0 1em 0 0;

        &:last-child {
            padding-right: 0;
        }

        .icon {
            color: inherit;

            &:before {
                font-size: 1.25em;
            }
        }
    }
}


a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: var(--accent-color);
    text-decoration: none;

}

a:hover {
        color:var(--hover-text);
    }

body {
    background-color: var(--background-color);
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
    padding-right: 17px;
    padding-top: 3%;

    overflow: auto;
    padding-bottom: 150px;


    /*background-image: linear-gradient(
        to bottom, transparent, #DADDD8 150%
    ), url("bg.jpg");

    background-attachment: scroll;
    background-size: auto, cover;
    position: relative;
    display:block;
    background-repeat: no-repeat;
    height: 100%; */
    }
